[package]
name = "tynm"
version = "0.1.3"
authors = ["Azriel Hoh <azriel91@gmail.com>"]
edition = "2018"
description = "Returns type names in shorter form."
repository = "https://github.com/azriel91/tynm"
documentation = "https://docs.rs/tynm/"
readme = "README.md"
keywords = ["typename", "type", "name"]
license = "MIT OR Apache-2.0"

[dependencies]
nom = { version = "5.1.1", default-features = false, features = ["std"] }

[dev-dependencies]
pretty_assertions = "0.6.1"

[badges]
appveyor = { repository = "azriel91/tynm" }
travis-ci = { repository = "azriel91/tynm" }
codecov = { repository = "azriel91/tynm" }
